.growthpartone {
  max-width: 90%;
  margin: 3rem auto;
  text-align: left;
}

.images {
  width: 320px;
  margin: 0 auto;
}

.exercise-images {
  width: 100%;
  margin: 0 auto;
}
.exercise-images #story-img {
  width: 95%;
  display: block;
  object-fit: contain;
}
.images img {
  width: 95%;
  display: block;
}
.arrow-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6rem;
}
.growthpartone button {
  padding: 15px 32px;
}
.arrow-right {
  background: url("../images/next-arrow.jpg");
  background-position: center center;
  background-size: 100% 100%;
}
